In [1]:
import pandas as pd
import numpy as np

In [2]:
accidents_df = pd.read_csv("D:\\UIC\\Fall 2023 Project\\US_Accidents\\US_Accidents_March23.csv")

In [3]:
accidents_df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

### DATA INSPECTION

In [4]:
accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [5]:
accidents_df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [6]:
accidents_df.shape

(7728394, 46)

In [7]:
#pd.set_option('display.max_rowwidth', None)
pd.reset_option('display.max_rows', None)

In [ ]:
zipcode_unique = accidents_df['Zipcode'].unique().tolist()
print(len(zipcode_unique))
zipcode_unique

In [14]:
accidents_df1 = accidents_df
# making a copy

In [15]:
accidents_df1['mean_lat'] = accidents_df1.groupby('Zipcode')['End_Lat'].transform('mean')

In [16]:
accidents_df1['mean_lng'] = accidents_df1.groupby('Zipcode')['End_Lng'].transform('mean')

In [17]:
accidents_df1['End_Lat'].fillna(accidents_df1['mean_lat'], inplace=True)
accidents_df1['End_Lng'].fillna(accidents_df1['mean_lng'], inplace=True)

In [ ]:
accidents_df1.isnull().sum()

In [19]:
accidents_df1.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,mean_lat,mean_lng
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,39.848386,-84.097273,0.01,...,False,False,False,False,Night,Night,Night,Night,39.848386,-84.097273
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,Night,Night,Night,Day,NaN,NaN
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,39.062109,-84.022972,0.01,...,False,False,True,False,Night,Night,Day,Day,39.062109,-84.022972
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,39.744192,-84.218929,0.01,...,False,False,False,False,Night,Day,Day,Day,39.744192,-84.218929
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,39.644863,-84.172444,0.01,...,False,False,True,False,Day,Day,Day,Day,39.644863,-84.172444

In [20]:
accidents_df1.shape

(7728394, 48)

In [21]:
accidents_df1['State'].value_counts()

State
CA    1741433
FL     880192
TX     582837
SC     382557
NY     347960
NC     338199
VA     303301
PA     296620
MN     192084
OR     179660
AZ     170609
GA     169234
IL     168958
TN     167388
MI     162191
LA     149701
NJ     140719
MD     140417
OH     118115
WA     108221
AL     101044
UT      97079
CO      90885
OK      83647
MO      77323
CT      71005
IN      67224
MA      61996
WI      34688
KY      32254
NE      28870
MT      28496
IA      26307
AR      22780
NV      21665
KS      20992
DC      18630
RI      16971
MS      15181
DE      14097
WV      13793
ID      11376
NM      10325
NH      10213
WY       3757
ND       3487
ME       2698
VT        926
SD        289
Name: count, dtype: int64

In [22]:
weather_unique = accidents_df['Weather_Timestamp'].unique().tolist()
print(len(weather_unique))

941332

In [23]:
accidents_df1.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'mean_lat', 'mean_lng'],
      dtype='object')

In [24]:
accidents_df1['Weather_Timestamp'] = pd.to_datetime(accidents_df1['Weather_Timestamp'])

accidents_df1['month'] = accidents_df1['Weather_Timestamp'].dt.month

accidents_df1['mean_temp_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Temperature(F)'].transform('mean')
accidents_df1['mean_windchill_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Wind_Chill(F)'].transform('mean')
accidents_df1['mean_humidity_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Humidity(%)'].transform('mean')
accidents_df1['mean_pressure_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Pressure(in)'].transform('mean')
accidents_df1['mean_visibility_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Visibility(mi)'].transform('mean')
accidents_df1['mean_windspeed_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Wind_Speed(mph)'].transform('mean')
accidents_df1['mean_precipitation_by_month'] = accidents_df1.groupby(['Zipcode', 'month'])['Precipitation(in)'].transform('mean')

In [25]:
accidents_df1.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'mean_lat', 'mean_lng', 'month',
       'mean_temp_by_month', 'mean_windchill_by_month',
       'mean_humidity_by_month', 'mean_pressure_by_month',
       'mean_visibility_by_month', 'mean_windspeed_by_month',
       'mean_precipitation_by_month'],
      dtype='object')

In [26]:
accidents_df1['Temperature(F)'].fillna(accidents_df1['mean_temp_by_month'], inplace=True)
accidents_df1['Wind_Chill(F)'].fillna(accidents_df1['mean_windchill_by_month'], inplace=True)
accidents_df1['Humidity(%)'].fillna(accidents_df1['mean_humidity_by_month'], inplace=True)
accidents_df1['Pressure(in)'].fillna(accidents_df1['mean_pressure_by_month'], inplace=True)
accidents_df1['Visibility(mi)'].fillna(accidents_df1['mean_visibility_by_month'], inplace=True)
accidents_df1['Wind_Speed(mph)'].fillna(accidents_df1['mean_windspeed_by_month'], inplace=True)
accidents_df1['Precipitation(in)'].fillna(accidents_df1['mean_precipitation_by_month'], inplace=True)

In [27]:
accidents_df1.isnull().sum()

ID                                  0
Source                              0
Severity                            0
Start_Time                          0
End_Time                            0
Start_Lat                           0
Start_Lng                           0
End_Lat                        622091
End_Lng                        622091
Distance(mi)                        0
Description                         5
Street                          10869
City                              253
County                              0
State                               0
Zipcode                          1915
Country                             0
Timezone                         7808
Airport_Code                    22635
Weather_Timestamp              120228
Temperature(F)                 127444
Wind_Chill(F)                  549552
Humidity(%)                    129662
Pressure(in)                   123524
Visibility(mi)                 142598
Wind_Direction                 175206
Wind_Speed(mph)                213688
Precipitation(in)              721518
Weather_Condition              173459
Amenity                             0
Bump                                0
Crossing                            0
Give_Way                            0
Junction                            0
No_Exit                             0
Railway                             0
Roundabout                          0
Station                             0
Stop                                0
Traffic_Calming                     0
Traffic_Signal                      0
Turning_Loop                        0
Sunrise_Sunset                  23246
Civil_Twilight                  23246
Nautical_Twilight               23246
Astronomical_Twilight           23246
mean_lat                       623570
mean_lng                       623570
month                          120228
mean_temp_by_month             127444
mean_windchill_by_month        549552
mean_humidity_by_month         129662
mean_pressure_by_month         123524
mean_visibility_by_month       142598
mean_windspeed_by_month        213688
mean_precipitation_by_month    721518
dtype: int64

In [28]:
accidents_df1 = accidents_df1.drop(columns = ['mean_temp_by_month','mean_windchill_by_month','mean_humidity_by_month','mean_pressure_by_month','mean_visibility_by_month','mean_windspeed_by_month','mean_precipitation_by_month'])

In [29]:
accidents_df1 = accidents_df1.drop(columns = ['Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'])

In [30]:
accidents_df1 = accidents_df1.drop(columns = ['mean_lat','mean_lng'])

In [31]:
accidents_df1 = accidents_df1.dropna(subset=['Description'])

In [32]:
accidents_df1.isnull().sum()

ID                        0
Source                    0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
End_Lat              622091
End_Lng              622091
Distance(mi)              0
Description               0
Street                10869
City                    253
County                    0
State                     0
Zipcode                1915
Country                   0
Timezone               7808
Airport_Code          22635
Weather_Timestamp    120228
Temperature(F)       127444
Wind_Chill(F)        549552
Humidity(%)          129662
Pressure(in)         123524
Visibility(mi)       142598
Wind_Direction       175205
Wind_Speed(mph)      213688
Precipitation(in)    721518
Weather_Condition    173459
Amenity                   0
Bump                      0
Crossing                  0
Give_Way                  0
Junction                  0
No_Exit                   0
Railway                   0
Roundabout                0
Station                   0
Stop                      0
Traffic_Calming           0
Traffic_Signal            0
Turning_Loop              0
Sunrise_Sunset        23246
month                120228
dtype: int64

In [33]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
accidents_df1.isnull().sum()

ID                        0
Source                    0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
End_Lat              622091
End_Lng              622091
Distance(mi)              0
Description               0
Street                10869
City                    253
County                    0
State                     0
Zipcode                1915
Country                   0
Timezone               7808
Airport_Code          22635
Weather_Timestamp    120228
Temperature(F)       127444
Wind_Chill(F)        549552
Humidity(%)          129662
Pressure(in)         123524
Visibility(mi)       142598
Wind_Direction       175205
Wind_Speed(mph)      213688
Precipitation(in)    721518
Weather_Condition    173459
Amenity                   0
Bump                      0
Crossing                  0
Give_Way                  0
Junction                  0
No_Exit                   0
Railway                   0
Roundabout                0
Station                   0
Stop                      0
Traffic_Calming           0
Traffic_Signal            0
Turning_Loop              0
Sunrise_Sunset        23246
month                120228
dtype: int64

In [ ]:
city_dataframes = {city: group for city, group in accidents_df1.groupby('City')}
for each_city in city_dataframes:
    print(each_city)

In [34]:
city_record_counts = {}

for city, city_df in city_dataframes.items():
    record_count = len(city_df)
    city_record_counts[city] = record_count

city_record_counts_file = "city_record_counts.txt"

# You can print the record counts for each city:
with open(city_record_counts_file, 'w') as file:
    for city, count in city_record_counts.items():
        file.write(f"City: {city}, Record Count: {count}\n")

In [35]:
major_cities_dataframes = {}
other_cities_dataframe = pd.DataFrame()

major_threshold = 10000

for city, city_df in city_dataframes.items():
    if len(city_df) > major_threshold:
        major_cities_dataframes[city] = city_df
    else:
        other_cities_dataframe = pd.concat([other_cities_dataframe, city_df])

major_cities_csv_filename = "major_cities.csv"
other_cities_csv_filename = "other_cities.csv"

for city, city_df in major_cities_dataframes.items():
    city_df.to_csv(f"{major_cities_csv_filename[:-4]}_{city}.csv", index=False)

other_cities_dataframe.to_csv(other_cities_csv_filename, index=False)

print(f"Major cities data saved to {major_cities_csv_filename}")
print(f"Other cities data saved to {other_cities_csv_filename}")

Major cities data saved to major_cities.csv
Other cities data saved to other_cities.csv

In [64]:
charlotte_df = pd.read_csv("D:\\UIC\\Fall 2023 Project\\major_cities_Charlotte.csv")
charlotte_df.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat              16342
End_Lng              16342
Distance(mi)             0
Description              0
Street                 126
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             8
Weather_Timestamp      161
Temperature(F)         169
Wind_Chill(F)        14223
Humidity(%)            170
Pressure(in)           162
Visibility(mi)         188
Wind_Direction         429
Wind_Speed(mph)       2221
Precipitation(in)    14155
Weather_Condition      225
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
month                  161
dtype: int64

In [44]:
charlotte_df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,month
0,A-179811,Source2,3,2016-12-11 09:06:33,2016-12-11 09:34:47,42.658440,-84.684502,42.560736,-84.808838,0.01,Entry ramp closed due to accident on I-69 Nort...,I-69 S,Charlotte,Eaton,MI,48813,US,US/Eastern,KFPK,2016-12-11 09:15:00,24.1,16.0,91.0,30.11,1.2,SE,6.9,0.006250,Light Snow,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,12
1,A-183241,Source2,2,2017-01-23 07:44:33,2017-01-23 08:14:16,42.523258,-84.895012,42.560736,-84.808838,0.01,Accident on Battle Creek Rd at Stine Rd.,S Stine Rd,Charlotte,Eaton,MI,48813,US,US/Eastern,KFPK,2017-01-23 07:35:00,37.9,34.4,99.0,29.66,2.0,North,4.6,0.000000,Overcast,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,1
2,A-368869,Source2,3,2017-03-13 12:36:24,2017-03-13 13:06:01,42.516399,-84.835884,42.560736,-84.808838,0.01,Right lane blocked due to accident on I-69 Sou...,S Cochran Rd,Charlotte,Eaton,MI,48813,US,US/Eastern,KFPK,2017-03-13 12:35:00,23.7,12.6,87.0,30.24,1.0,East,11.5,0.001176,Light Snow,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,3
3,A-370195,Source2,3,2017-04-01 01:29:55,2017-04-01 01:58:03,42.575329,-84.819725,42.560736,-84.808838,0.01,Right lane blocked due to accident on I-69 aft...,Lansing St,Charlotte,Eaton,MI,48813,US,US/Eastern,KFPK,2017-04-01 01:36:00,35.6,28.0,91.0,29.99,10.0,North,10.4,0.000000,Overcast,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,4
4,A-474225,Source2,3,2017-06-23 14:32:55,2017-06-23 15:02:01,42.575329,-84.819725,42.560736,-84.808838,0.00,Left lane blocked due to accident on I-69 Nort...,Lansing St,Charlotte,Eaton,MI,48813,US,US/Eastern,KFPK,2017-06-23 14:34:00,75.2,74.6,71.0,29.65,10.0,West,6.9,0.000000,Overcast,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,6

In [66]:
from haversine import haversine
import pandas as pd
import numpy as np

missing_temp_in_charlotte_df = charlotte_df[charlotte_df['Temperature(F)'].isna()]

for index, each_missing_entry in missing_temp_in_charlotte_df.iterrows():
    charlotte_df['Distance'] = charlotte_df.apply(lambda row: haversine((each_missing_entry['Start_Lat'], each_missing_entry['Start_Lng']), (row['Start_Lat'], row['Start_Lng'])), axis=1)
    
    nearby_entries = charlotte_df[charlotte_df['Distance'] <= 5]

    missing_date = pd.to_datetime(each_missing_entry['Start_Time'], format='mixed').date()

    three_day_entries = nearby_entries[pd.to_datetime(nearby_entries['Start_Time'], format='mixed').apply(lambda x: abs((x.date() - missing_date).days) <= 1)]

    if not three_day_entries.empty:
        average_temp = three_day_entries['Temperature(F)'].mean()
        charlotte_df.loc[index, 'Temperature(F)'] = average_temp

In [67]:
charlotte_df.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat              16342
End_Lng              16342
Distance(mi)             0
Description              0
Street                 126
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             8
Weather_Timestamp      161
Temperature(F)           6
Wind_Chill(F)        14223
Humidity(%)            170
Pressure(in)           162
Visibility(mi)         188
Wind_Direction         429
Wind_Speed(mph)       2221
Precipitation(in)    14155
Weather_Condition      225
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
month                  161
Distance                 0
dtype: int64

In [69]:
from haversine import haversine
import pandas as pd
import numpy as np

missing_wind_chill_in_charlotte_df = charlotte_df[charlotte_df['Wind_Chill(F)'].isna()]

for index, each_missing_entry in missing_wind_chill_in_charlotte_df.iterrows():
    charlotte_df['Distance'] = charlotte_df.apply(lambda row: haversine((each_missing_entry['Start_Lat'], each_missing_entry['Start_Lng']), (row['Start_Lat'], row['Start_Lng'])), axis=1)
    
    nearby_entries = charlotte_df[charlotte_df['Distance'] <= 5]

    missing_date = pd.to_datetime(each_missing_entry['Start_Time'], format='mixed').date()

    three_day_entries = nearby_entries[pd.to_datetime(nearby_entries['Start_Time'], format='mixed').apply(lambda x: abs((x.date() - missing_date).days) <= 1)]

    if not three_day_entries.empty:
        average_wind_chill = three_day_entries['Wind_Chill(F)'].mean()
        charlotte_df.loc[index, 'Wind_Chill(F)'] = average_wind_chill

In [70]:
charlotte_df.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat              16342
End_Lng              16342
Distance(mi)             0
Description              0
Street                 126
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             8
Weather_Timestamp      161
Temperature(F)           6
Wind_Chill(F)          168
Humidity(%)            170
Pressure(in)           162
Visibility(mi)         188
Wind_Direction         429
Wind_Speed(mph)       2221
Precipitation(in)    14155
Weather_Condition      225
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
month                  161
Distance                 0
dtype: int64

In [71]:
other_cities_df = pd.read_csv("D:\\UIC\\Fall 2023 Project\\other_cities.csv")
other_cities_df.isnull().sum()

ID                        0
Source                    0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
End_Lat              313295
End_Lng              313295
Distance(mi)              0
Description               0
Street                 6690
City                      0
County                    0
State                     0
Zipcode                1913
Country                   0
Timezone               7800
Airport_Code          19763
Weather_Timestamp     91198
Temperature(F)        96681
Wind_Chill(F)        317394
Humidity(%)           98332
Pressure(in)          93425
Visibility(mi)       110953
Wind_Direction       126441
Wind_Speed(mph)      154025
Precipitation(in)    443141
Weather_Condition    131975
Amenity                   0
Bump                      0
Crossing                  0
Give_Way                  0
Junction                  0
No_Exit                   0
Railway                   0
Roundabout                0
Station                   0
Stop                      0
Traffic_Calming           0
Traffic_Signal            0
Turning_Loop              0
Sunrise_Sunset        22804
month                 91198
dtype: int64